<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvEaXmch9ElW81lYGNmEQ2FnYKYmZc9hY</string>
	<key>GCM_SENDER_ID</key>
	<string>894709470283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.com.jparias.PokemonShop</string>
	<key>PROJECT_ID</key>
	<string>proyecto-test-3c77b</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-test-3c77b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894709470283:ios:3c22db9300f69c220369ce</string>
</dict>
</plist>